body{
	font-family: Verdana;
	font-size: 14px;
}
.row{
	display: block;
}
.logo{
	width: 250px;
	float: left;
}
.searchBar{
	margin-top: 20px;
}

.second-form .glyphicon-search {
  cursor: pointer;
}
.clear{
	clear: both;
}
ul{
	margin: 10px 0;
	padding: 0;
}
ul li {
	display: inline-block;
	list-style: none;
}
ul li a{
	text-decoration: none;
	padding: 10px 20px;
	margin: 10px auto;
	color: black;
}
strong{
	color: #05132E
}
.container .marketing{
	margin-top: 25px;
}
.img-square{
	float: center;
}
.footer{
	width: 100%;
	background: orange;
	color:white;
	height: 25px;
}
.footerRight{
	background: #0f4d92;
	color: white;
}
.footerLeft{
	background: #D98138;
	color: white;
}
.companyInfo h3 span{
	display: inline-block;
    padding: 6px 0 6px 0;
    color: #D98138;
    border-width: 100%
}
.companyInfo h3{
	border: 2px solid #0f4d92;
    border-style: none none solid none;
}

.companyInfo ul li{
	display: block;
}
.client ul li{
	display: block;

}

#list2 ul { list-style-image: url("images/hand.jpg");  font-size:15px; }
#list2  ul li { line-height:30px; }

.sidebar{
	margin-top: 30px;
}
.sideBarborder{
	border-left: 1px solid gray;
	padding-left: 10px;
}
.sideBarlink{
	border-bottom: 1px solid gray;
	width: 100%;
	padding-bottom: 10px;
	margin-top: 10px;
}

.sideBarlink a {
	padding-left: 0px;
	
}
.glyphicon-arrow-right{
	padding-right: 5px;
	color: #54A3F7;
}
.dropdown .btn-link{
	color: black;
}
.dropdown .btn-link:hover{
	color: #337ab7;
}
.nav-barmain{
	border: none;
	background-color: white;
	margin-bottom: 0;
}
.nav-barmain .navbar-collapse{
	padding-right: 0;
	padding-left: 0;
}
.nav-barmain .dropdown .dropdown-menu li{
	width: 100%;

}
.dropdown-toggle{
    margin-bottom: 0;
}
.nav-barmain .dropdown .dropdown-menu li a {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px
}
.software{
	margin-bottom: 5px;
}